	<!-- [ navigation menu ] start -->
	<nav class="pc-sidebar ">
		<div class="navbar-wrapper">
			<div class="m-header">
				<a href="{% url 'home' %}" class="b-brand">
					<!-- ========  change your logo here ============ -->
					<img src="/static/assets/images/logo.svg" alt="" class="logo logo-lg">
					<img src="/static/assets/images/logo-sm.svg" alt="" class="logo logo-sm">
				</a>
			</div>
			<div class="navbar-content">
				<ul class="pc-navbar">
					<li class="pc-item pc-caption">
						<label>Navigation</label>
					</li>
					<li class="pc-item">
						<a href="/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">history_edu</i></span><span class="pc-mtext">Form</span></a>
					</li>
					<li class="pc-item">
						<a href="/db" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">table_rows</i></span><span class="pc-mtext">Database</span></a>
					</li>
					{% if request.user.username == 'root' %}
					<li class="pc-item">
						<a href="/view_charts" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">bubble_chart</i></span><span class="pc-mtext">Chart</span></a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
