{% extends "layouts/base.html" %}

{% block title %} Apex Charts {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    /* Style for form fields */
    input[type="text"],
    input[type="email"],
    input[type="date"],
    select {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    /* Style for labels */
    label {
        margin-top: 10px;
        display: block;
        font-weight: bold;
    }

    /* Style for form submit button */
    input[type="submit"] {
        background-color: #5a4b76;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }

    /* Style for form container */
    .form-container {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }




	/* Style for error messages */
    .message-item.error {
        border-left-color: #f44336; /* Red for error messages */
    }

    /* Style for success messages */
    .message-item.success {
        border-left-color: #4CAF50; /* Green for success messages */
    }

    /* Style for info messages */
    .message-item.info {
        border-left-color: #2196F3; /* Blue for info messages */
    }
</style>
{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pc-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<!-- <div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Apex Chart</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item"><a href="#!">Chart</a></li>
								<li class="breadcrumb-item">Apex Chart</li>
							</ul>
						</div>
					</div>
				</div>
			</div> -->
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="form-container">
				<div class="row">
					<ul class="message-list">
						{% for message in messages %}
						<li class="message-item {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
						{% endfor %}
					</ul>
					<form action method="POST" novalidate>
						{% csrf_token %}
						{{ form.as_p }}
						<input type="submit">
					</form>
				</div>
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

